#componentMetadata {
    padding:15px;
    color:#000000;
}

.metadataHeader {
    font-size:120%;
    white-space: nowrap;
    color:#e4e4e4;
    line-height:50px;
    margin-left:10px;
    font-weight: normal;
    text-transform: uppercase;
    width:100%;
    padding-left:30px;
    padding-top:5px;

}

.iframeClass {
    width:800px;
    height:650px;
    border: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
