<md-card id="textsms" ng-if="vm.parentCtrl.actionName==='textsms'">
    <md-card-content>

        <div class="textsms-padding">

            <p class="textsms-info" ng-if="vm.form.msg">{{vm.form.msg}}</p>

        <md-input-container md-no-float class="underlined-input md-required md-primoExplore-theme md-input-invalid">
            <md-icon md-svg-src="/primo-explore/custom/HVD2/img/ic_phone_black_24px.svg" aria-label="Phone number"></md-icon>
            <input type="tel" ng-model="vm.form.phone" maxlength="10" placeholder="Phone number" title="Phone number"/>
            <span ng-if="vm.form.error" class="textsms-alert">{{vm.form.error}}</span>
        </md-input-container>
        </div>

        <div class="md-title" ng-if="vm.locations.length > 1">
            Choose one
        </div>

        <md-list>
            <md-list-item ng-repeat="loc in vm.locations track by $index" class="list-item-text {{loc.cssClass}}" (click)="vm.sendText($index,loc.items[0])">
                <div layout="row" flex>
                    <a  class="textsms-link">
                        <span>{{loc.items[0].mainlocationname}}</span>
                        &nbsp;<span>{{loc.items[0].callnumber}}</span>
                    </a>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
